
.type-20 {
    margin-top: 30px;
    a {
        color: #000;
        text-decoration: none;
    }
    .title {
        color: #000;

        .new__stories__title {

            text-transform: uppercase;
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 10px;
        }
    }

    .card {
        border: none;

        .col-md-3 {
            .card-image {

                position: relative;

                .card-img-overlay {
                    // width: 90% !important;
                    transition: all .4s ease-out;

                }

                .m-wrap-genre {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    top: 0;
                    left: 0;
                    color: #fff;
                    transition: all 1s;

                    .genre-item.full::after {
                        display: block;
                        content: "FULL";
                        padding: 0 10px;
                        border-radius: 3px;
                        background: #00b47b;
                        animation: flash 1s alternate infinite;
                    }

                    .genre-item.new::after {
                        display: block;
                        content: "NEW";
                        padding: 0 10px;
                        border-radius: 3px;
                        background: #006ef5;
                        animation: flash 1s alternate infinite;
                    }

                    .genre-item.hot::after {
                        display: block;
                        content: "HOT";
                        padding: 0 10px;
                        border-radius: 3px;
                        background: #EE2E31;
                        animation: flash 1s alternate infinite;
                    }

                    .genre-item {
                        display: block;
                        width: 50px;
                        font-size: .7rem;
                        font-weight: 500;
                        margin: 3px;
                        text-align: center;
                    }

                }
            }

            .card-img-overlay:hover {
                background: rgba(0, 0, 0, .7);

                .m-wrap-genre {
                    opacity: .2;
                }

                .card-title {
                    opacity: .2;
                }

                .m-wrap-infor {
                    opacity: .2;
                }

                .m-group-button {
                    opacity: 1;
                }
            }

            .img-card {
                height: auto;
                
            }

        }

    }

    .col-md-9 {
        padding-left: 8px;

        .card-body {
            justify-content: center;
            padding: 5px 10px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            position: relative;

            a {
                text-decoration: none;
                color: #000;
            }

            .post-meta {
                font-size: 12px;
                line-height: 1.5;

                .card-title {
                    title{
                        font-weight: 700;

                    }
                    .title:hover {
                        color: #00789a;
                        transition: .5s;
                    }
                }

            }

            .content {
                margin-top: 20px;
                margin-bottom: 0;
            }


        }

    }
}

@media screen and (max-width: 480px) {
    .img-card{
        margin-left: 140px;

        width:40%;
    }
    .card-img-overlay{
        margin-left: 140px;
        width:40%;
        .m-wrap-genre{
            width:30%;
        }
    }
    card-title{
        font-size:18px;
    }
    
}
@media screen and (min-width: 700px) {
    .img-card{
        width:95%;
    }
    .card-img-overlay{
        width:95%;
        .m-wrap-genre{
            width:95%;
        }
    }
    
}
@media screen and (min-width: 992px) {
    .img-card{


        width:95%;
    }
    .card-img-overlay{

        width:95%;
        .m-wrap-genre{
            width:95%;
        }
    }
    
}
