.type-24 .body {
  font-family: "Libre Franklin", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
}
.type-24 .card-img-overlay {
  background: rgba(0,0,0,0.4);
  transition: all .4s ease-out;
}
.type-24 .card-img-overlay:hover {
  background: rgba(0,0,0,0.7);
  box-shadow: 7px 5px #077c98;
}
.type-24 .card-img-overlay:hover .m-wrap-genre {
  opacity: .2;
}
.type-24 .card-img-overlay:hover .card-title {
  opacity: .2;
}
.type-24 .card-img-overlay:hover .m-wrap-infor {
  opacity: .2;
}
.type-24 .card-img-overlay:hover .m-group-button {
  opacity: 1;
}
.type-24 .card-text {
  font-size: .7em;
  text-shadow: 0 0 15px #000;
}
.type-24 .m-wrap-genre {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  transition: all 1s;
}
.type-24 .m-wrap-infor {
  position: absolute;
  bottom: 0;
  width: 85%;
  transition: all 1s;
}
.type-24 .genre-item.full::after {
  display: block;
  content: "FULL";
  padding: 0 10px;
  border-radius: 3px;
  background: #00b47b;
  animation: flash 1s alternate infinite;
}
.type-24 .genre-item.new::after {
  display: block;
  content: "NEW";
  padding: 0 10px;
  border-radius: 3px;
  background: #006ef5;
  animation: flash 1s alternate infinite;
}
.type-24 .genre-item.hot::after {
  display: block;
  content: "HOT";
  padding: 0 10px;
  border-radius: 3px;
  background: #EE2E31;
  animation: flash 1s alternate infinite;
}
.type-24 .genre-item {
  display: block;
  width: 50px;
  font-size: .7rem;
  font-weight: 500;
  margin: 3px;
  text-align: center;
}
.type-24 .card-title {
  font-size: 1.2em;
  text-shadow: 0 2px 5px #000;
  transition: all 1s;
}
.type-24 .pagination li {
  margin: 5px;
}
.type-24 .pagination ul {
  margin: 5px;
}
.type-24 .pagination .page-item a.page-link {
  color: #000;
  font-weight: 500;
  border-radius: 3px;
}
.type-24 .pagination .page-item .page-link:hover {
  background: #077c98;
  color: #fff;
}
.type-24 .pagination .page-item.active .page-link {
  background: #077c98;
  color: #fff;
}
.type-24 .m-group-button {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transition: all .7s;
}
.type-24 .m-group-button ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  transform: translate(-50%,-50%);
}
.type-24 .m-group-button ul li {
  list-style: none;
  margin: 0 12px;
}
.type-24 .m-group-button ul li a {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #171515;
  border-radius: 50%;
  font-size: 17.5px;
  color: #fff;
  transition: .5s;
}
.type-24 .m-group-button ul li a:hover {
  color: #ffa502;
  box-shadow: 0 0 5px #ffa502;
}
.type-24 .m-group-button ul li a:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 5px #ffa502;
  filter: blur(3px);
}
.type-24 .m-group-button ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffa502;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
.type-24 .search-box {
  width: 100%;
  height: fit-content;
  position: relative;
}
.type-24 #search-box form {
  width: 100%;
}
.type-24 .input-search {
  height: 30px;
  width: 100%;
  border-style: none;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 20px;
  color: #000;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.7);
}
.type-24 .input-search::placeholder {
  color: #000000;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}
.type-24 .btn-search {
  width: 30px;
  height: 30px;
  border-style: none;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #000000;
  background-color: transparent;
  pointer-events: painted;
}
.type-24 .row.wrap-23 {
  flex-direction: row-reverse;
}
.type-24 .browsing {
  border-left: 4px solid #077c98;
  padding-left: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}
