.body {
  font-family: "Libre Franklin", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
}
.type-02 .cl-black {
  color: #000;
}
.type-02 .navbar-brand img {
  height: 0;
}
.type-02 .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 14.5px;
  color: #000;
}
.type-02 .navbar-nav .nav-link:hover {
  color: #077c98;
}
.type-02 .nav-bd-y {
  border-top: rgba(0,0,0,0.1) .5px solid;
  border-bottom: rgba(0,0,0,0.1) .5px solid;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}
.type-02 .search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.type-02 .input-search {
  height: 30px;
  width: 30px;
  border-style: none;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 20px;
  color: #000;
}
.type-02 .input-search::placeholder {
  color: #000000;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}
.type-02 .btn-search {
  width: 30px;
  height: 30px;
  border-style: none;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #000000;
  background-color: transparent;
  pointer-events: painted;
}
.type-02 .btn-search:hover~.input-search {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.7);
  transition: all 500ms cubic-bezier(0,0.110,0.35,2);
}
.type-02 .input-search:focus,
.type-02 .input-search:hover {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.7);
  transition: all 500ms cubic-bezier(0,0.110,0.35,2);
}
@media (max-width: 767px) {
  .type-02 .navbar-brand img {
    height: 30px;
  }
}
