.type-01 .nav-link {
  padding: 5px 15px !important;
  font-size: .9rem;
}
.type-01 .nav-link.sign-in,
.type-01 .nav-link.user {
  color: #00161E;
  background: white;
}
.type-01 .nav-link.sign-in:hover,
.type-01 .nav-link.user:hover {
  color: #077C98;
  background: white;
}
.type-01 .nav-link.sign-up,
.type-01 .nav-link.sign-out {
  color: white;
  background: #077C98;
}
.type-01 .nav-link.sign-up:hover,
.type-01 .nav-link.sign-out:hover {
  color: #E8F6F8;
  background: #00161E;
}
