.type-05 {
  margin-top: 30px;
}
.type-05 a {
  color: #000;
  text-decoration: none;
}
.type-05 .title-list {
  font-weight: bold;
  font-size: 1.2rem;
}
.type-05 .card {
  padding:0 10px;
  border-bottom: 1px solid ;
}
.type-05 .card .row {
  padding:30px 0;
}
.type-05 .card .col-md-3 .card-image {
  position: relative;
}
.type-05 .card .col-md-3 .card-image .card-img-overlay {
  transition: all .4s ease-out;
}
.type-05 .card .col-md-3 .card-image .m-wrap-genre {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 1s;
}
.type-05 .card .col-md-3 .card-image .m-wrap-genre .genre-item.full::after {
  display: block;
  content: "FULL";
  padding: 0 10px;
  border-radius: 3px;
  background: #00b47b;
  animation: flash 1s alternate infinite;
}
.type-05 .card .col-md-3 .card-image .m-wrap-genre .genre-item.new::after {
  display: block;
  content: "NEW";
  padding: 0 10px;
  border-radius: 3px;
  background: #006ef5;
  animation: flash 1s alternate infinite;
}
.type-05 .card .col-md-3 .card-image .m-wrap-genre .genre-item.hot::after {
  display: block;
  content: "HOT";
  padding: 0 10px;
  border-radius: 3px;
  background: #EE2E31;
  animation: flash 1s alternate infinite;
}
.type-05 .card .col-md-3 .card-image .m-wrap-genre .genre-item {
  display: block;
  width: 50px;
  font-size: .7rem;
  font-weight: 500;
  margin: 3px;
  text-align: center;
}
.type-05 .card .col-md-3 .card-img-overlay:hover {
  box-shadow: 7px 5px #077c98;
}
.type-05 .card .col-md-3 .img-card {
  height: auto;
}
.type-05 .col-md-9 {
  padding-left: 8px;
}
.type-05 .col-md-9 .card-body {
  justify-content: center;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.type-05 .col-md-9 .card-body a {
  text-decoration: none;
  color: #000;
}
.type-05 .col-md-9 .card-body .post-meta {
  font-size: 12px;
  line-height: 1.5;
}
.type-05 .col-md-9 .card-body .post-meta .card-title title {
  font-weight: 700;
}
.type-05 .col-md-9 .card-body .post-meta .card-title .title:hover {
  color: #00789a;
  transition: .5s;
}
.type-05 .col-md-9 .card-body .content {
  margin-top: 20px;
  margin-bottom: 0;
}
@media screen and (max-width: 480px)and (max-device-width: 736px) {
  .type-05 .img-card {
    margin-left: 118px;
    width: 40%;
  }
  .type-05 .card{
    width:392px;
  }
  .type-05 .card-img-overlay {
    margin-left: 140px;
    width: 40%;
  }
  .type-05 .card-img-overlay .m-wrap-genre {
    width: 30%;
  }
  .type-05 .card-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px)and (max-device-width: 990px) {
  .type-05 .img-card {
    width: 110%;
  }
  .type-05 .card-img-overlay {
    width: 85%;
  }
  .type-05 .card-img-overlay .m-wrap-genre {
    width: 85%;
  }
}
@media screen and (min-width: 992px) {
  .type-05 .img-card {
    width: 85%;
  }
  .type-05 .card-img-overlay {
    width: 85%;
  }
  .type-05 .card-img-overlay .m-wrap-genre {
    width: 85%;
  }
}
