.type-01{
    .nav-item{
        .member{
            padding: 6.5px;
        }
    }
    .btn{
        color: black;
        background: #077C98;
    }
    .btn:hover{
        color: blue;
        background: white;
    }
}