.sidebar {
  width: 220px;
  background: rgba(50,251,165,0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: black;
}
.sidebar #logo {
  display: flex;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.sidebar #logo .logo-product {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebar #menu .group-item {
  list-style: none;
  padding-left: 0;
}
.sidebar #menu .group-item .item {
  padding: 10px 0px 10px 20px;
  border-top: 1px solid #DFDFDF;
}
