.type-20 {
  margin-top: 30px;
}
.type-20 a {
  color: #000;
  text-decoration: none;
}
.type-20 .title {
  color: #000;
}
.type-20 .title .new__stories__title {
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}
.type-20 .wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  column-gap: 20px;
  row-gap: 20px;
}
.type-20 .wrapper .item img {
  width: 95%;
  height: 400px;
}
.type-20 .wrapper .item .content {
  width: 90%;
}
.type-20 .wrapper .item .card-title .title:hover {
  color: #00789a;
  transition: .5s;
}
.type-20 .pagination {
  padding-top: 10px;
  width: 400px;
  margin: auto;
  text-align: center;
}
.type-20 .pagination a {
  display: block;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.type-20 .pagination a.active {
  background-color: #00a5f0;
  color: white;
}
.type-20 .pagination a:hover:not(.active) {
  background-color: #ddd;
}
@media screen and (min-width: 700px) {
  .img-card {
    width: 95%;
  }
  .card-img-overlay {
    width: 95%;
  }
  .card-img-overlay .m-wrap-genre {
    width: 95%;
  }
}
@media screen and (min-width: 992px) {
  .img-card {
    width: 95%;
  }
  .card-img-overlay {
    width: 95%;
  }
  .card-img-overlay .m-wrap-genre {
    width: 95%;
  }
}
