.type-09 {
  margin-top: 30px;
}
.type-09 a {
  color: #000;
  text-decoration: none;
}
.type-09 .title {
  color: #000;
}
.type-09 .title .new__stories__title {
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}
.type-09 .card {
  border: none;
}
.type-09 .card .col-md-3 .card-image {
  position: relative;
}
.type-09 .card .col-md-3 .card-image .card-img-overlay {
  transition: all .4s ease-out;
}
.type-09 .card .card-box {
  background: #fff;
  margin-bottom: 12px;
  border-top: 1px solid #e5e6e9;
  border-bottom: 1px solid #e5e6e9;
}
.type-09 .card .card-box .chapters li a {
  padding: 6px 2px 6px 16px;
  color: #333;
  display: block;
  border-bottom: 1px dashed #ddd;
  text-transform: capitalize;
}
.type-09 .col-md-9 {
  padding-left: 8px;
}
.type-09 .col-md-9 .card-body {
  justify-content: center;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.type-09 .col-md-9 .card-body a {
  text-decoration: none;
  color: #000;
}
.type-09 .col-md-9 .card-body .post-meta {
  font-size: 12px;
  line-height: 1.5;
}
.type-09 .col-md-9 .card-body .post-meta .card-title title {
  font-weight: 700;
}
.type-09 .col-md-9 .card-body .content {
  margin-top: 20px;
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .img-card {
    margin-left: 140px;
    width: 40%;
  }
  .card-img-overlay {
    margin-left: 140px;
    width: 40%;
  }
  .card-img-overlay .m-wrap-genre {
    width: 30%;
  }
  card-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 700px) {
  .img-card {
    width: 95%;
  }
  .card-img-overlay {
    width: 95%;
  }
  .card-img-overlay .m-wrap-genre {
    width: 95%;
  }
}
@media screen and (min-width: 992px) {
  .img-card {
    width: 95%;
  }
  .card-img-overlay {
    width: 95%;
  }
  .card-img-overlay .m-wrap-genre {
    width: 95%;
  }
}
